.images-slider {
  display: flex;
  height: 100svh;
}

.images-slider > * {
  min-height: 100svh;

  width: 50vw;
  overflow: hidden;
}

.keen-slider__slide {
  height: 100%;
  width: 100%;
}
.keen-slider__slide img {
  object-fit: cover;
  height: 100%;
}
