.keen-slider__slide {
  min-height: 100dvh;
  width: 50vw;
}

.keen-slider__slide > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  html {
    font-size: 12.5px;
  }
  .images-slider {
    flex-direction: column;
    height: 100svh !important;
  }

  .keen-slider {
    height: 50svh !important;
    min-height: 50svh !important;
    width: 100vw !important;
    /* pointer-events: none !important; */
  }

  .keen-slider__slide {
    overflow: hidden;
  }

  .text {
    padding: 1rem;
    box-sizing: border-box;
  }


 
}

a button {
  color: black !important;
}
