.keen-slider__slide {
  min-height: 100dvh;
  width: 50vw;
}

.keen-slider__slide > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  .images-slider {
    flex-direction: column;
  }



  .keen-slider {
    min-height: 50dvh !important;
    width: 100vw !important;
    pointer-events: none !important;
  }

  .keen-slider__slide {
    overflow: hidden;
  }

  .keen-slider__slide > img {
    rotate: 90deg;
  }
}
