@font-face {
  font-family: 'Continental Heavy';
  src: url('./assets/Continental-Heavy.otf') format('opentype');
}

body {
  font-family: Continental Heavy;
  line-height: 1.2rem;
  color: #b2b2b2;
  cursor: crosshair;
}
